.drawing-form {
  // // border: 3px solid var(--color-primary);
  // border-radius: 5px;
  // height: 75vh;
  transition: all 0.3s;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-primary);
  // cursor: pointer;
  // width: calc(70vh * 1.4142857142857142857142857142857); /* Proporcje A4 */
  margin: 3rem auto 0 auto;
  position: relative;
  text-align: center;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* iframe {
    width: 100%;
    height: 100%;
    margin-bottom: 0 !important; 
    border: none;
  } */

.change-btn {
  background-color: var(--color-primary);
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 1.2rem;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.change-btn:hover {
  background-color: var(--color-primary-hover);
  transform: rotateZ(-359deg);
}

.svg {
  height: 200px;
  margin-bottom: 1rem;
}

.hidden {
  display: none;
}

.drawing-label {
  font-size: 2.5rem;
  text-transform: uppercase;
  margin: 10rem 0;
}

input::file-selector-button {
  background-color: var(--color-primary);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 0.3s;
  margin-bottom: 10rem;

  &:hover {
    background-color: var(--color-primary-hover);
  }
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1.5rem 1rem 1rem;
  position: sticky;
  bottom: 2rem;
  width: 100%;
}

button {
  background-color: var(--color-primary);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 1rem;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    background-color: var(--color-primary-hover);
  }
}

.drawing-form {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // padding: 1rem;
  .drop-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px dashed #ccc;
    width: calc(80vh * 1.414); /* Proporcje A4 */
    background-color: var(--background-card);
    transition: border-color 0.3s ease;
    position: relative;
    &.dragover {
      border-color: var(--color-primary);
    }
  }

  // .drawing-label {
  //   font-weight: bold;
  //   margin-bottom: 1rem;
  // }
  .buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    input[type="file"] {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      cursor: pointer;
    }
    button.add-button {
      padding: 10px 15px;
      background-color: var(--color-primary);
      color: white;
      border: none;
      cursor: pointer;
      transition: background-color 0.3s ease;
      &:hover {
        background-color: var(--color-primary-hover);
      }
    }
  }

  // .drawing-preview {
  //   max-width: 100%;
  //   max-height: 300px;
  //   margin-bottom: 1rem;
  //   object-fit: contain;
  // }
}

.add {
  margin-bottom: 5rem;
}
